/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  background-color: #213547;
  height: 100vh;
}

/* ------------------------ 聊天室 ---------------------- */

.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color: #63bff4 !important;
}

.cs-message-input__content-editor-wrapper {
  margin-left: 0.5rem !important;
}

.cs-main-container {
  border: 1px solid #63bff4 !important;
  border-radius: 10px !important;
}

.cs-chat-container .cs-message-input {
  border-top: solid 1px #63bff4 !important;
  border-right: solid 0px #63bff4 !important;
  border-bottom: solid 0px #63bff4 !important;
  border-left: solid 0px #63bff4 !important;
}

.cs-message__content {
  margin-top: 5px !important;
  background-color: #63bff4 !important;
}

.cs-message--outgoing .cs-message__content {
  background-color: #63bff4 !important;
}

.cs-message-input {
  background-color: var(--body_background_color) !important;
}

.cs-button > svg {
  color: #63bff4 !important;
}

.cs-button--attachment {
  display: none !important;
}

/*--------------------- 主內容 ----------------------*/

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 70%;
  display: flex;
  justify-content: center;
  max-width: 700px;
  min-width: 320px;
  border-radius: 20px;
}
.gpt_container {
  max-width: 968px;
  width: 90%;
  padding: 15px;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  color: #213547;
}

.content .text-content {
  width: 100%;
  height: 700px;
}

.content .text-content .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  font-weight: bolder;
  padding-left: 1rem;
}

.chatgpt {
  height: 700px;
  border: 1px solid #63bff4;
  padding: 0.8rem;
  border-radius: 15px;
  width: 100%;
}

.message {
  width: 100%;
  height: 93%;
}
